.flex-layout{
    display: flex;
    align-items: center;
   background-color: #3241e7;
}

.flex-layout > div {
    background-color: blanchedalmond;
    
    font-size: 16px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    float: top;

}